{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <div style="backgroud-color:;">
    <p><h3>Treasure aims to <strong>minimize waste and maximize reuse</strong> of old book, join us NOW!</p><br>
    <p>What is the Treasure? Basically, it is an online platform that allows users to deal with old books. You can be both book seller and buyer. To do this, just create a new account and fill in some fundamental information of the book. Treasure is powerful and meaningful in three aspects.</p>
  </div>
{% endblock %}
