{% extends 'layout.html' %}3

{% block js %}
<script>
  $(document).ready(function(){
      $('#panel').DataTable();
      // document.getElementById("panel").DataTable();
  });
</script>
{% endblock %}

{% block body %}
<!-- {{info}} -->
  <h1>Store <small>own by</small> {{UserInfo.name}} </h1>
  <hr>
  <div><center><h1>Store Details</h1></center></div>
  <a class="btn btn-success" href="/add_shop/{{UserInfo.id}}"> Add Shop</a>&nbsp;&nbsp;
  <a class="btn btn-success" href="/add_article"> Add Article</a>
  <hr>

  <table id="panel" class="display">
      <thead>
          <tr>
              <th>Store ID</th>
              <th>Store Name</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Edit mode</th>
          </tr>
      </thead>
      <tbody>
        {% for temp in info %}
            <tr>
                <td>{{temp.id}}</td>
                <td>{{temp.name}}</td>
                <td>{{temp.contact}}</td>
                <td>{{temp.address}}</td>
                <td>
                  <a href="/view_item/{{temp.id}}" class="btn btn-default" role="button">View items</a>
                  <a href="/view_shop/{{temp.id}}" class="btn btn-default" role="button">View shop</a>

                  <form style="display: inline-block;" action="{{url_for('delete_shop', id=temp.id)}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete shop" onclick="return confirm('Are you sure to delete this user?')" class="btn btn-danger">
                  </form>
                </td>
            </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}
